.priceCard {
    width: 284px;
    max-height: 268px;

    background: #FFFFFF;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    border-radius: 8px;

    padding: 24px;

    margin-top: 32px;

    .subtotal__text,
    .discount__text,
    .shipping__text,
    .total__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;

        color: rgba(0, 0, 0, 0.6);
    }


    &__total {
        padding-top: 24px;

        height: 52px;

        border-top: 1px solid rgba(0, 0, 0, 0.1);

    }


    .priceCard__subtotal {
        display: flex;

        justify-content: space-between;

        margin-bottom: 12px;

        .subtotal__price {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            color: #000000
        }
    }

    .priceCard__discount {
        display: flex;

        justify-content: space-between;

        margin-bottom: 12px;

        .discount__price {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            color: #EB0045;
        }
    }

    .priceCard__shipping {
        display: flex;

        justify-content: space-between;

        margin-bottom: 24px;

        .total__shipping {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            color: #000000
        }
    }

    .total__text {
        display: flex;
        justify-content: space-between;

        .total__price {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;

            color: #101010;

            align-items: end;

            display: flex;
            flex-direction: column;

            .total__message {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;

                color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    .goToPayment {
        display: flex;
        justify-content: center;

        .goToPayment__button {
            width: 203px;
            height: 48px;

            background: #2E44A1;
            border-radius: 5px;
            border: none;

            font-weight: 600;
            font-size: 16px;
            line-height: 24px;

            color: #FFFFFF;

            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);

        }

    }
}